@model Techstore_WebApp.Models.DB.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h2 class="text-center mb-4">Detalles del Producto</h2>

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h5 class="card-title text-center">@Model.NombreProducto</h5>
        <p><strong>Descripción:</strong> @Model.DescripcionProducto</p>
        <p><strong>Precio de Compra:</strong> $@Model.PrecioCompra</p>
        <p><strong>Precio de Venta:</strong> $@Model.PrecioVenta</p>
        <p><strong>Cantidad en Stock:</strong> @Model.CantidadStock</p>
        <p><strong>Estado:</strong> @Model.Estado</p>
        <p><strong>Categoría:</strong> @Model.IdCategoriaProductoNavigation?.Categoria</p>
        <p><strong>Modelo:</strong> @Model.IdModeloNavigation?.Modelo1</p>
        <p><strong>Tipo:</strong> @Model.IdTipoProductoNavigation?.TipoProducto</p>
    </div>
</div>

<div class="mt-3 text-center">
    <a asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
