@model IEnumerable<Techstore_WebApp.Models.DB.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mb-5">Usuarios</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar nuevo usuario</a>
</p>
<table class="table table-striped">
    <thead class="table-header">
        <tr class="text-center align-middle">
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    <div class="d-flex flex-nowrap">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdUsuario" title="Editar"><i
                                class="bi bi-pencil-square text-white"></i></a>
                        <a asp-action="Details" class="btn btn-warning mx-2" asp-route-id="@item.IdUsuario" title="Detalles"><i
                                class="bi bi-archive text-white"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdUsuario" title="Eliminar"><i
                                class="bi bi-trash-fill text-white"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
