@model IEnumerable<Techstore_WebApp.Models.DB.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2 class="mb-5 text-center">Clientes</h2>

<div class="d-flex justify-content-between flex-wrap mb-3">
    <div>
        <a asp-action="Create" class="btn btn-success">Agregar Nuevo Cliente</a>
    </div>
    <div class="w-100 w-md-50 mt-2 mt-md-0">
        <input type="text" id="buscador" class="form-control" placeholder="Buscar un cliente...">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-light">
            <tr class="text-center align-middle">
                <th>Nombre</th>
                <th class="d-none d-md-table-cell">DUI</th>
                <th class="d-none d-lg-table-cell">Teléfono</th>
                <th class="d-none d-lg-table-cell">Correo Electrónico</th>
                <th class="d-none d-xl-table-cell">Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="cuerpoTabla">
            @foreach (var item in Model)
            {
                <tr class="text-center align-middle">
                    <td>@Html.DisplayFor(modelItem => item.NombreCliente)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Dui)</td>
                    <td class="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td class="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="d-none d-xl-table-cell">@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a asp-action="Edit" class="btn btn-primary btn-sm me-2" asp-route-id="@item.IdCliente" title="Editar">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <a asp-action="Details" class="btn btn-warning btn-sm me-2" asp-route-id="@item.IdCliente" title="Detalles">
                                <i class="bi bi-archive"></i> Detalles
                            </a>
                            <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.IdCliente" title="Eliminar">
                                <i class="bi bi-trash-fill"></i> Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
