@model IEnumerable<Techstore_WebApp.Models.DB.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mb-5">Clientes</h2>

<div class="d-flex justify-content-between">
    <div>
        <p>
            <a asp-action="Create" class="btn btn-success">Agregar nuevo cliente</a>
        </p>
    </div>
    <div class="w-50">
        <input type="text" id="buscador" class="form-control" placeholder="Busca un cliente...">
    </div>
</div>

<table class="table table-striped">
    <thead class="table-header">
        <tr class="text-center align-middle">
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        @foreach (var item in Model)
        {
            <tr class="text-center align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dui)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    <div class="d-flex flex-nowrap justify-content-center">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdCliente" title="Editar"><i
                                class="bi bi-pencil-square text-white"></i></a>
                        <a asp-action="Details" class="btn btn-warning mx-2" asp-route-id="@item.IdCliente"
                            title="Detalles"><i class="bi bi-archive text-white"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdCliente" title="Eliminar"><i
                                class="bi bi-trash-fill text-white"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.getElementById('buscador').addEventListener('keyup', async (e) => {
        const texto = e.target.value.trim();

        try {
            // Realizar la búsqueda, incluso si el texto está vacío
            const response = await fetch(`/Clientes/Buscador?texto=${texto}`);
            if (!response.ok) {
                throw new Error('Error al buscar el cliente');
            }

            const clientes = await response.json();
            actualizarTabla(clientes);
        } catch (error) {
            console.error(error);
        }
    });

    function actualizarTabla(clientes) {
        const tabla = document.getElementById('cuerpoTabla');
        tabla.innerHTML = '';

        if (clientes.length === 0) {
            tabla.innerHTML = '<tr><td colspan="9" class="text-center">No se encontraron clientes.</td></tr>';
            return;
        }

        clientes.forEach(cliente => {
            const fila = document.createElement('tr');
            fila.classList.add('text-center', 'align-middle');

            fila.innerHTML = `
                <td>${cliente.nombreCliente}</td>
                <td>${cliente.dui}</td>
                <td>$${cliente.telefono}</td>
                <td>$${cliente.email}</td>
                <td>${cliente.direccion}</td>
                <td>
                    <div class="d-flex flex-nowrap">
                        <a href="/Clientes/Edit/${cliente.idCliente}" class="btn btn-primary" title="Editar"><i class="bi bi-pencil-square text-white"></i></a>
                        <a href="/Clientes/Details/${cliente.idCliente}" class="btn btn-warning mx-2" title="Detalles"><i class="bi bi-archive text-white"></i></a>
                        <a href="/Clientes/Delete/${cliente.idCliente}" class="btn btn-danger" title="Eliminar"><i class="bi bi-trash-fill text-white"></i></a>
                    </div>
                </td>
            `;
            tabla.appendChild(fila);
        });
    }
</script>